/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.02.2015, 13:33:19
    Author     : Ales
*/

.toolbar{

}

.menubar{
    -fx-padding: 0 0 0 40;
}

.vertexActive{
    -fx-fill: limegreen;
}

.vertexInactive{
    -fx-fill: darkblue;
}

.vertexExceptional{
    -fx-fill: yellow;
}

.vertexMarked{
    -fx-fill: cadetblue;
}

.edgeActive{
    -fx-strokeWidth: 0;
    -fx-fill: limegreen;
}

.edgeInactive{
    -fx-strokeWidth: 0;
    -fx-fill: orangered;
    -fx-opacity: 0.5;
}

.edgeExceptional{
    -fx-strokeWidth: 0;
    -fx-fill: yellow;
}

.edgeMarked{
    -fx-strokeWidth: 0;
    -fx-fill: cadetblue;
}

.ghostEdge{
    -fx-stroke: darkblue;
}

.drawspace {
    -fx-background-color: white;
}

.button {
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.button: hover {
     -fx-border-width: 2;
     -fx-border-color: cadetblue;
 }

 .button: pressed {
     -fx-border-width: 2;
     -fx-border-color: limegreen;
 }

 .button: focused {
      -fx-border-width: 2;
      -fx-border-color: darkblue;
  }

 .vertexButton {
    -fx-background-image: url("../img/vertexButtonImg.png");
 }

 .cursorButton {
     -fx-background-image: url("../img/cursorButtonImg.png");
 }

 .edgeButton {
     -fx-background-image: url("../img/edgeButtonImg.png");
 }

 .orEdgeButton {
      -fx-background-image: url("../img/orientedEdgeButtonImg.png");
  }

  .folder {
      -fx-background-image: url("../img/folderItemImg.png");
  }






